html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0C0D0E;
  overflow: hidden;
}

body, input, button {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

a{
  color: #4285f4;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

button{
  font-size: 1em;
  cursor: pointer;
  border: 1px solid #4285f4;
  border-radius: 5px;
  padding: 10px;
  color: #4285f4;
  background-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
}
button:active{
  color: #fff;
  background-color: #4285f4;
}

* {
  box-sizing: border-box;
}

header {
  padding: 10px;
  cursor: pointer;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  z-index: 1;
}

header:active {
  opacity: .7;
}

header h1 {
  margin: 0;
  padding: 0;
  -webkit-filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2));
}

header svg {
  vertical-align: top;
}

#about {
  color: #333;
  background-color: rgba(255,255,255,.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  z-index: 3;
  padding: 15px;
  -webkit-transition: -webkit-transform .3s cubic-bezier(0.150, 0.780, 0.180, 1.170);
  transition: transform .3s cubic-bezier(0.150, 0.780, 0.180, 1.170);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  pointer-events: none;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

#about.show {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  pointer-events: auto;
}

@media screen and (min-width: 500px) and (min-height: 500px) {
  #about {
    width: 500px;
    left: 50%;
    margin-left: -250px;
    border-radius: 12px;
  }
  #about.show {
    transform: translate3d(0, 15px, 0);
    -webkit-transform: translate3d(0, 15px, 0);
  }
}

#about h2,
#about h3{
  margin: 0;
  padding: 0 0 .5em;
}

#about p {
  margin: 0;
  padding: 0 0 .5em;
  line-height: 1.4;
}

#about ul{
  list-style: none;
  margin: 0 0 5px;
  padding: 0;
}
#about ul li{
  display: inline-block;
  margin-right: 1em;
}
#about ul li img{
  vertical-align: middle;
  margin: 0 3px;
}

#about button {
  width: 100%;
  margin: 0;
}

#preview{
  float: right;
  border: 1px solid #999;
  margin-left: 10px;
  margin-top: 5px;
}

#map{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#info-taxis{
  pointer-events: none;
  font-size: .85em;
  position: absolute;
  bottom: 20px;
  right: 68px;
  margin-left: 10px;
  border-radius: 12px;
  padding: 10px;
  text-align: right;
  color: rgba(255,255,255,.8);
  background-color: rgba(0,0,0,.5);
  -webkit-backdrop-filter: blur(10px) saturate(50%);
  backdrop-filter: blur(10px) saturate(50%);
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  -webkit-animation: blink .75s linear infinite alternate;
  animation: blink .75s linear infinite alternate;
}
#info-taxis.loaded{
  -webkit-animation: jump .3s;
  animation: jump .3s;
}

@-webkit-keyframes blink{
  0% { opacity: 1 }
  50% { opacity: .2 }
  100% { opacity: 1 }
}
@keyframes blink{
  0% { opacity: 1 }
  50% { opacity: .2 }
  100% { opacity: 1 }
}

@-webkit-keyframes jump{
  0% { transform: translateY(0) }
  25% { transform: translateY(-10px) }
  50% { transform: translateY(0) }
  75% { transform: translateY(-3px) }
  100% { transform: translateY(0) }
}
@keyframes jump{
  0% { transform: translateY(0) }
  25% { transform: translateY(-10px) }
  50% { transform: translateY(0) }
  75% { transform: translateY(-3px) }
  100% { transform: translateY(0) }
}

#location{
  display: none;
  outline: 0;
  position: absolute;
  bottom: 20px;
  right: 10px;
  z-index: 1;
  border: 0;
  padding: 12px;
  margin: 0;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  vertical-align: top;
  transition: transform .3s ease;
}
#location svg{
  fill: #666;
}
#location .compass,
#location.compass .location{
  display: none;
}
#location.compass .compass{
  display: block;
}
#location.locating{
  pointer-events: none;
}
#location.locating svg{
  -webkit-animation: rotate 5s infinite both linear;
  animation: rotate 5s infinite both linear;
}
@-webkit-keyframes rotate{
  0% { transform: rotate(0) }
  100% { transform: rotate(1turn) }
}
@keyframes rotate{
  0% { transform: rotate(0) }
  100% { transform: rotate(1turn) }
}
#location.active svg{
  fill: #4285f4;
}

#bounds-warning{
  position: absolute;
  bottom: 30px;
  left: 10px;
  display: none;
  padding: 10px;
  background-color: rgba(0,0,0,.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #fff;
}

#bounds-warning button{
  display: inline;
  padding: 0;
  border: 0;
  color: #fff;
  background-color: transparent;
  text-decoration: underline;
}

#bounds-warning.visible{
  display: block;
}

.mapboxgl-ctrl-attrib{
  margin-top: 10px !important;
}
.mapboxgl-ctrl-attrib.mapboxgl-compact {
  min-height: 24px;
}
.mapboxgl-ctrl-attrib.mapboxgl-compact:not(:hover) {
  background-color: transparent;
}

.mapboxgl-ctrl-custom-pitch{
  font-weight: bold;
  color: #000;
  font-size: 15px;
  letter-spacing: -.5px;
}
.active .mapboxgl-ctrl-custom-pitch{
  color: #4285f4;
}
.mapboxgl-ctrl-custom-pitch span{
  display: block;
  transition: transform .3s ease-in-out;
}

#carbonads {
  display: none;
}

@media only screen and (min-width: 600px) and (min-height: 600px) {
  #carbonads {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: block;
    overflow: hidden;
    max-width: 330px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    background-color: rgba(255,255,255,.8);
    font-size: 13px;
    line-height: 1.3;
    transition: background-color .3s ease-in-out;
  }
  #carbonads:hover {
    background-color: rgba(255,255,255,.9);
  }

  #carbonads a {
    color: inherit;
    text-decoration: none;
  }

  #carbonads a:hover {
    color: inherit;
  }

  .carbon-img {
    display: block;
    line-height: 1;
    float: left;
  }

  .carbon-img img {
    display: block;
    margin: 0 auto;
    max-width: 130px !important;
    height: auto;
  }

  .carbon-text {
    display: block;
    float: left;
    padding: 8px 14px;
    text-align: left;
    max-width: calc(100% - 130px);
  }

  .carbon-poweredby {
    float: right;
    padding: 5px 10px 0;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-weight: 600;
    font-size: 9px;
    line-height: 1;
    opacity: .5;
  }
}